<form name="containerForm" method="post" class="mt-4" action="/courses/handle-form" required>
    <div>
        <h3>Bảng</h3>

        <a href="/courses/trash" class="btn btn-primary" role="button" aria-pressed="true">Trash ( {{count}} )</a>

        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">
                    Chọn tất cả
                </label>
            </div>

            <select class="form-control" name="action" style="width: 210px; margin: 10px;">
                <option value="">---chọn hành động ---</option>
                <option value="delete">Xóa</option>
            </select>


            <button type="submit" class="btn btn-lg btn-primary btn-sm btn-submit-checkall" disabled>Thực hiện</button>
        </div>
    </div>

    <table class="table" style="margin-top: 30px;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">id</th>
                <th scope="col">Tên</th>
                <th scope="col">mô tả</th>
                <th scope="col">thời gian tạo</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses }}
            <tr>
                <th>
                    <div class="form-check">
                        <input class="form-check-input" name="coursesId[]" type="checkbox" value="{{this._id}}">
                    </div>
                </th>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/update" class="btn btn-primary" role="button"
                        aria-pressed="true">Update</a>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"
                        data-id="{{this._id}}">Del</button>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">Không có dữ liệu</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="btnDel">Xóa</button>
            </div>
        </div>

    </div>
</div>

<form name="FormDel" method="post"></form>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        var courseId
        var btnDel = document.getElementById('btnDel');
        var deleteForm = document.forms['FormDel'];
        var checkboxAll = $("#checkbox-all")
        var courseItemCheckBox = $('input[name="coursesId[]"]')
        var containerForm = $('form[name="containerForm"]')
        var checkAllBtn = $(".btn-submit-checkall")


        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
        })

        btnDel.onclick = function () {
            deleteForm.action = "/courses/" + courseId + "?_method=DELETE"
            deleteForm.submit();
        }
        checkboxAll.change(function () {
            var isChecked = $(this).prop('checked')
            courseItemCheckBox.prop('checked', isChecked)
            renderCheckAllSubmitBtn()
        })

        courseItemCheckBox.change(function () {
            var isCheckedAll = courseItemCheckBox.length === $('input[name="coursesId[]"]:checked').length
            checkboxAll.prop('checked', isCheckedAll)
            renderCheckAllSubmitBtn()
        })

        checkAllBtn.click(function (e) {
            e.preventDefault()
            var isSubmitable = !$(this).hasClass('disabled')
            if (isSubmitable) {
                containerForm.submit()
            }
        })

        function renderCheckAllSubmitBtn() {

            var count = $('input[name="coursesId[]"]:checked').length
            if (count > 0) {
                checkAllBtn.attr('disabled', false)
            } else {
                checkAllBtn.attr("disabled", true);
            }
        }

    })

</script>